<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Public_Libary_managment_System.Properties.Settings.StudentManagementDBConnectionString"
            connectionString="Data Source=DESKTOP-MSFDSAE;Initial Catalog=StudentManagementDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Public_Libary_managment_System.Properties.Settings.PUBLIC_LIBRARY_MANAGMENT_SYSTEMConnectionString"
            connectionString="Data Source=DESKTOP-MSFDSAE;Initial Catalog=&quot;PUBLIC LIBRARY MANAGMENT SYSTEM&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Public_Libary_managment_System.Properties.Settings.Public_Libary_Managment_SystemConnectionString"
            connectionString="Data Source=DESKTOP-O9756G5;Initial Catalog=&quot;Public Libary Managment System&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Public_Libary_managment_System.Properties.Settings.Public_Libary_Manegment_01ConnectionString"
            connectionString="Data Source=DESKTOP-O9756G5;Initial Catalog=&quot;Public Libary Manegment 01&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Public_Libary_managment_System.Properties.Settings.Public_Libary_Manegment_01ConnectionString1"
            connectionString="Data Source=DESKTOP-LSNIRL8;Initial Catalog=&quot;Public Libary Manegment 01&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Public_Libary_managment_System.Properties.Settings.Libary_Manament_SystemConnectionString"
            connectionString="Data Source=DESKTOP-LSNIRL8;Initial Catalog=&quot;Libary Manament System&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>